<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.lusumdy.cordova.rtlsdr"
      version="0.1.0">
    <name>LusumdyRTLSDR</name>

    <js-module src="www/lusumdyrtlsdr.js" name="LusumdyRTLSDR">
        <clobbers target="LusumdyRTLSDR" />
    </js-module>
    
    <info>
        This plugin implements RTL-SDR to Cordova
	</info>

    <!-- (android) -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LusumdyRTLSDR">
                <param name="android-package" value="com.lusumdy.cordova.rtlsdr"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
        </config-file>
	   <source-file src="src/android/LusumdyRTLSDR.java" target-dir="src/com/lusumdy/cordova/rtlsdr" />
    </platform>
          
</plugin>